apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: open-webui-v10
  namespace: flux-system
spec:
  interval: 10m
  path: clusters/main/kubernetes/utilities/open-webui-v10/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster

